<% content_for :title, "New membership" %>

<h1 class="mt-3">New membership</h1>

<%= form_for(@membership) do |f| %>
  <% if @membership.errors.any? %>
      <div id="error_explanation">
          <h2><%= pluralize(@membership.errors.count, "error") %> prohibited membership from being saved:</h2>
          <ul>
          <% @membership.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
          </ul>
      </div>
  <% end %>
  <div class="mb-2 mt-4">
    <%= f.select :beerclub_id, options_from_collection_for_select(@beerclubs.where.not(id: current_user.beerclubs.pluck(:id)), :id, :name), {}, { :class => 'form-select' } %>
  </div>
  <%= f.submit "Become member", class:"btn btn-primary" %>
<% end %>
<br>

<div>
  <%= link_to "Back to memberships", memberships_path %>
</div>
