<h1>Sign in</h1>

<p style="color: red"><%= notice %></p>

<%= form_with url: session_path, method: :post do |form| %>
  username <%= form.text_field :username %> <br>
  password <%= form.password_field :password %> <br>
  <%= form.submit "Log in" %>
<% end %>