<p style="color: green"><%= notice %></p>

<div>

  <h2>
    <%= @user.username %>
    <% if @user.closed? or @user.closed.nil? %>
      <span class="badge bg-danger", style="font-size: 0.4em">Closed</span>
    <% else %>
      <span class="badge bg-primary", style="font-size: 0.4em">Active</span>
    <% end %>
  </h2>

  <% if current_user && current_user.admin? %>
  <%= link_to "Change account status", toggle_account_status_user_path(@user.id), data: {turbo_method: "post"}, class: "btn btn-danger btn-sm mt-1 mb-4" %>
  <% end %>
 
  <p>
    has made <%= pluralize(@user.ratings.count, 'rating') %>,
    average rating <%= @user.average_rating.round(1) %>
  </p>

  <p>
    favorite beer: <%= @user.favorite_beer %><br>
    favorite style: <%= @user.favorite_style&.name %><br>
    favorite brewery: <%= @user.favorite_brewery&.name %>
  </p>

  <h3> member of </h3>
  <ul>
    <% @user.beerclubs.all.each do |beerclub| %>
      <li>
        <%= link_to beerclub.name, beerclub_path(beerclub.id) %>
      </li>
    <% end %>
  </ul>
  
  <h3>ratings</h3>
  <ul id="list-ratings">
    <% @user.ratings.each do |r| %>
      <li>
        <%= r.beer.name %>, <%= r.score %>
        <% if @user == current_user %>
          | <%= link_to 'Delete', rating_path(r), class:'btn btn-danger btn-sm', data: { 'turbo-method': :delete, 'turbo-confirm': 'Are you sure?' } %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div>
  <% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>
  <% end %>
</div>

<%= link_to "Back to users", users_path %>
