<%= turbo_frame_tag "rating_details" do %>
	<h3><%= rating.beer.name %></h3>
	<p><%= rating.beer.style.name %></p>
	<p>brewed by <%= rating.beer.brewery.name %></p>
	<p>rated <%= rating.created_at.strftime("%d.%m.%Y") %></p>
	
<% end %>