<p style="color: green"><%= notice %></p>

<% content_for :title, "Styles" %>

<h1>Styles</h1>

<div id="styles">
  <ul>
  <%= turbo_frame_tag "styles" do %>
    <% @styles.each do |style| %>
      <li>
        <%= link_to style.name, style, data: { turbo_frame: "style_details"} %>
      </li>
    <% end %>
  <% end %>
  </ul>

  <%= turbo_frame_tag "style_details" do %>
  <% end %>
  
</div>

<%= link_to "New style", new_style_path , class:'btn btn-primary' if current_user%>

<br>

<%= turbo_frame_tag "about_style" do %>
  <%= link_to "about", about_styles_path %>
<% end %>