<p style="color: green"><%= notice %></p>

<% content_for :title, "Breweries" %>

<%= turbo_stream_from "breweries_index" %>

<h1>Breweries</h1>

  <p><b>Number of active breweries: <span id="active_count"><%= @nb_active %></span></b></p>
  <div id="active_breweries">
    <%= turbo_frame_tag "active", src: breweries_active_path do %>
      Retrieving active breweries ...
      <br>
    <% end %>
  </div>

  <p><b>Number of retired breweries: <span id="retired_count"><%= @nb_retired %></span></b></p>
  <div id="retired_breweries">
    <%= turbo_frame_tag "retired", src: breweries_retired_path do %>
      Retrieving retired breweries ...
      <br>
    <% end %>
  </div>

<% if current_user %>
  <%= turbo_frame_tag "new_brewery", src: new_brewery_path do%>
    Loading Finnish breweries list from Avoin data...
  <% end %>
<% end %>