<p style="color: green"><%= notice %></p>

<% content_for :title, "Beers" %>

<h1>Beers</h1>

<div id="beers">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Beer</th>
        <th scope="col">Style</th>
        <th scope="col">Brewery</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @beers.each do |beer| %>
        <tr>
          <td scope="row"><%= link_to beer.name, beer_path(beer.id) %></td>
          <td scope="row"><%= link_to beer.style, style_path(beer.style.id) %></td>
          <td scope="row"><%= link_to beer.brewery.name, brewery_path(beer.brewery.id) %></td>
          <td scope="row"><%= beer.average_rating %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New beer", new_beer_path, class:'btn btn-primary' if current_user %> 
