<p style="color: green"><%= notice %></p>

<% content_for :title, "Beers" %>

<% if not current_user.nil? %>
  <p>
    <%= link_to "New beer", new_beer_path %>
  </p>
<% end %>


<h1>Beers</h1>

<div id="beers">
  <% @beers.each do |beer| %>
    <p>
      <strong>Name:</strong>
      <%= link_to beer.name, beer_path(beer.id) %>
    </p>

    <p>
      <strong>Style:</strong>
      <%= beer.style %>
    </p>
    <p>
      <strong>Brewery:</strong>
      <%= link_to beer.brewery.name, brewery_path(beer.brewery.id) %>
    </p>
  <% end %>
</div>