<p style="color: green"><%= notice %></p>

<% content_for :title, "Beers" %>

<h1>Beers</h1>

<% cache "beerlist-#{@order}", skip_digest: true do %>
  <div id="beers">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"><%= link_to "Name", beers_path(order:"name") %></th>
          <th scope="col"><%= link_to "Style", beers_path(order:"style")%></th>
          <th scope="col"><%= link_to "Brewery", beers_path(order:"brewery")%></th>
          <th scope="col"><%= link_to "Rating", beers_path(order:"rating")%></th>
        </tr>
      </thead>
      <tbody>
        <% @beers.each do |beer| %>
          <tr>
            <td scope="row"><%= link_to beer.name, beer_path(beer.id) %></td>
            <td scope="row"><%= link_to beer.style, style_path(beer.style.id) %></td>
            <td scope="row"><%= link_to beer.brewery.name, brewery_path(beer.brewery.id) %></td>
            <td scope="row"><%= beer.average_rating %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= link_to "New beer", new_beer_path, class:'btn btn-primary' if current_user %> 
