<% content_for :title, "New beer" %>

<h1>New beer</h1>


<%= form_for(@beer) do |b| %>
  name: <%= b.text_field :name %> <br>
  style: <%= b.select :style, options_for_select(@styles) %> <br>
  brewery: <%= b.select :brewery_id, options_from_collection_for_select(@breweries, :id, :name) %>
  <br>
  <%= b.submit %>
<% end %>

<br>

<div>
  <%= link_to "Back to beers", beers_path %>
</div>
