<p style="color: green"><%= notice %></p>
<p>
  <%= link_to "All breweries", breweries_path %>
</p>

<%= render @beer %>

<% if current_user %>
<div class="mb-3">
    <h4>give a rating:</h4>
    <%= form_with(model: @rating) do |form| %>
      <%= form.hidden_field :beer_id %>
      score: <%= form.number_field :score %>
      <%= form.submit "Create rating" %>
    <% end %>
  <% end %>
</div>

<%= edit_and_destroy_buttons(@beer) %>

<p>
  <%= link_to "Back to beers", beers_path %>
</p>
