<div id="<%= dom_id beerclub %>">
  <h4>
    <strong>Name:</strong>
    <%= link_to beerclub.name, beerclub_path(beerclub.id) %>
  </h4>
  
  <ul>
    <li>
      <strong>Founded:</strong>
      <%= beerclub.founded %>
    </li>

    <li>
      <strong>City:</strong>
      <%= beerclub.city %>
    </li>
  </ul>

  <% if current_user && !@is_member %>
    <%= form_with(model: @membership) do |form| %>
      <%= form.hidden_field :beerclub_id, value: @beerclub.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "Join the beer club", class:"btn btn-primary" %>
    <% end %>
  <% end %>

  <% if current_user && @is_member %>
    <%= form_with(model: @membership, method: :delete) do |form| %>
      <%= form.hidden_field :beerclub_id, value: @beerclub.id %>
      <%= form.hidden_field :user_id, value: current_user.id %>
      <%= form.submit "End the membership", class:"btn btn-danger"%>
    <% end %>
  <% end %>
</div>

<br>
<h4>Members</h4>
<ul>
  <% beerclub.users.all.each do |user| %>
    <li>
      <%= link_to user.username, user_path(user.id) %>
    </li>
  <% end %>
</ul>