<p style="color: green"><%= notice %></p>

<% content_for :title, "Beerclubs" %>

<h1>Beerclubs</h1>

<div id="beerclubs">
  <% @beerclubs.each do |beerclub| %>
    <strong>
      Name: <%= link_to beerclub.name, beerclub_path(beerclub.id) %>
    </strong>
    <ul>
      <li>
        Founded: <%= beerclub.founded %>
      </li>

      <li>
        City:<%= beerclub.city %>
      </li>
    </ul>
  <% end %>
</div>

<%= link_to "New beerclub", new_beerclub_path , class:'btn btn-primary'%>
